{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo"><img src="{% static 'img/logo.png' %}" width="130" 
					height="130"  alt=""></h2>
            </div>

            {% comment %} <div class="menu">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">SERVICE</a></li>
                    <li><a href="#">DESIGN</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div> {% endcomment %}

            {% comment %} <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a href="#"> <button class="btn">Search</button></a>
            </div> {% endcomment %}

        </div> 
        <div class="content">
            <h1>The AI is the new World & <br><span>Future</span> <br>Don't miss use</h1>
            <p class="par">Elon Musk and Others Call for Pause on A.I., Citing 'Profound Risks to Society'
                <br> More than 1,000 tech leaders, researchers and others signed an open letter urging a moratorium 
                <br> on the development of the most powerful artificial intelligence systems?</p>

                <button class="cn"><a href="face-count/">Face-Count</a></button>
                <button class="cn"><a href="virtual/">Virtual-mouse</a></button>
                <button class="cn"><a href="key/">keyboard</a></button>
                <button class="cn"><a href="#">ABOUT</a></button>

                {% comment %} <div class="form">
                    <h2>Login Here</h2>
                    <input type="email" name="email" placeholder="Enter Email Here">
                    <input type="password" name="" placeholder="Enter Password Here">
                    <button class="btnn"><a href="#">Login</a></button>

                    <p class="link">Don't have an account<br>
                    <a href="#">Sign up </a> here</a></p>
                    <p class="liw">Log in with</p>

                    <div class="icons">
                        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
                    </div>

                </div> {% endcomment %}



                    </div>
                </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>